<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuario">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paciente">Pacientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/establecimiento">Establecimientos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/habitacion">Habitaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/medico">Médicos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/motivo">Motivos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reserva">Reservas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/estadisticas">Estadísticas</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>